/.idea/
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/

/.idea/
.idea/copyright/
.idea/encodings.xml
.idea/margaret2.iml
.idea/margaret2.time
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
app/console
web/media
phpunit.phar
robo.phar
/nbproject/private/