{%  extends 'MargaretBundle::main.html.twig' %}

{% block content %}
    <article class="content text-center">
        <h3>Your Application was Deleted.</h3>

    </article>
{%  endblock %}

{% block active_apply %}active{% endblock %}
