{%  extends 'MargaretBundle::main.html.twig' %}

{% block content %}
    <article class="content text-center">
        <h3>Your Application was submitted.</h3>
        We'll contact you as soon as possible.

    </article>
{%  endblock %}

{% block active_apply %}active{% endblock %}
