{% extends 'AdminBundle::base.html.twig' %}

{% block page_title %}Email Templates {% endblock %}
{% block page_content %}
<div class="box">

<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for tmp in templates[2:] %}
        <tr>
            <td>{{ tmp.name }}</td>
            <td class="text-right">
                <a href="{{ path('admin_email_edit',{'id':tmp.id}) }}" class="btn btn-xs btn-primary">Edit</a>

            </td>
        </tr>
        {% endfor %}
        </table>
</div>
</div>
{% endblock %}
