{% extends 'AdminBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_title %}Static Pages {% endblock %}
{% block page_subtitle  %} {{ page.title }} {% endblock %}
{% block page_content %}
<div class="box">
    <div class="box-body">
    {{  form(form) }}
        {{ form_rest(form) }}
    </div>
</div>
{% endblock %}
